.Container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.navbar {
  width: 100%;
  height: 10vh;
  display: fixed;
}
.category {
  display: flex;
  width: 100%;
  height: 4vh;
  font-size: 1.8rem;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  margin-top: 2vh;
}

.empty {
  opacity: 0;
}
.cards {
  width: 100%;
  height: 100%;
}
.innercard {
  width: 90%;
  height: 11vh;
  margin: auto;
  border-radius: 2%;
  margin-top: 2vh;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0px 0 1px rgb(10 10 10 / 2%);
}
.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  overflow: hidden;
  display: block;
}
.text {
  width: auto;
  height: auto;

  border-radius: 5px 5px 0 0;
}
.text:active {
  background-color: #ff6263;
}
