* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.footer {
  height: 10.1vh;
  width: 100%;
}
.navBar {
  height: 10vh;

  width: 100%;
}
.mainContainer {
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.text {
  width: 90%;
  height: 4vh;
  margin-top: 1vh;
  display: flex;
  align-items: center;
}
.orderCard {
  height: 10vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 90%;
}
.inActiveText {
  background-color: white;
  border-bottom: 1.5px solid black;
  margin-top: 2vh;

  width: 90%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow {
  height: 3vh;
  width: 3vh;
}
.buttonContainer {
  width: 100%;
  height: 20vh;
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  color: white;
  height: 6vh;
  width: 70vw;
  border-radius: 15px;
  border: none;
  background-color: rgb(184, 17, 17);
  box-shadow: 2px 2px 4px black;
}
