.Container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: white;
  font-size: 2rem;
  justify-content: space-evenly;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0px 0 1px rgb(10 10 10 / 2%);
}
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;

  margin-left: 2%;
  height: 100%;
}
.text {
  width: 70%;
  font-size: 2.5rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 100%;
  margin-right: 2%;
}
.image {
  height: 50%;
  width: 70%;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0px 0 1px rgb(10 10 10 / 2%);
  border-radius: 10px;
  padding: 7px;
}
