.Container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 2vh;
}
.left {
  width: 35%;
  height: 100%;
  background-color: #b9345a;
  border-radius: 10px 0 0 10px;
  padding: 1.5vh;
}
.right {
  display: flex;
  width: 65%;
  height: 100%;
  background-color: white;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0px 0 1px rgb(10 10 10 / 2%);
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: gray;
  margin: auto;
}
.Icon {
  width: 80%;
  height: 80%;
  margin: auto;
}
