.Container {
  display: flex;
  width: 100%;
  height: 100%;
}
.image {
  width: 25%;
  height: 100%;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
.icon {
  width: 15%;
  height: 100%;
  border-radius: 0 5px 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerIcon {
  margin: auto;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0px 0 1px rgb(10 10 10 / 2%);
  padding: 1vh;
  border-radius: 5px;
}

.head {
  width: 100%;
  height: 60%;
  text-align: left;
  font-size: 0.7rem;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
