.container {
  height: 10vh;
  width: 100%;
  box-shadow: 2px 2px 4px black, -2px -2px 4px black;
  border-radius: 10px;
  display: flex;
  font-size: 1.5rem;
}
.image {
  height: 100%;
  width: 30%;
  border-radius: 5px 0 0 5px;
}
.rightContainer {
  width: 70%;
  height: 100%;
}
.firstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3vh;
  padding-left: 1vh;
  padding-right: 1vh;
}
.secondLine {
  height: 4vh;

  display: flex;
  align-items: center;
  padding-left: 1vh;
}
.lastLine {
  height: 3vh;
  display: flex;
  padding-left: 1vh;
  align-items: center;
}
.text {
  margin-right: 0.8vh;
}
.minus {
  height: 3vh;
  width: 15%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.minusIcon {
  height: 100%;
  color: white;
  width: auto;
}
.quantity {
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: white;
  border-bottom: 2px solid rgb(255, 0, 0);
  border-top: 2px solid rgb(255, 0, 0);
}
.add {
  height: 3vh;
  width: 15%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.plusIcon {
  height: 100%;
  color: white;
  width: auto;
}
