.Container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  border-top: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}
.image {
  width: 60%;
  height: 60%;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14vw;
  height: 7vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0px 0 1px rgb(10 10 10 / 2%);
  padding-top: 1vh;
}
