.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.navbar {
  width: 100%;
  height: 10vh;
}
.Image {
  width: 100%;
  height: 40vh;
}
.layer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 40vh;
  top: 10vh;
  right: 0;
  left: 0;
}
.text {
  color: white;
  font-size: 2rem;
  width: 100%;
  height: 1px;
  padding-top: 2vh;
}
.line {
  width: 70%;
  height: 1px;
  background-color: white;
  margin: auto;
}
.paragraph {
  color: white;
  width: 70%;
  height: 30%;
  text-align: center;
  margin: auto;
}

.Bttn {
  width: 50vw;
  height: 6vh;
  border-radius: 25px;
  border: none;
  background-color: red;
  color: white;
  margin: auto;
}
.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.homeCard {
  width: 85%;
  height: 13vh;
  margin: auto;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  overflow: hidden;
}
